.form-group {
  .form-control {
    // padding: 12px 12px;
    padding: 0 !important;
    // margin: 0 5px;
    // width: 75px;
    width: 50px;
    text-align: center;

    &::-webkit-input-placeholder {
      // font-size: 0.75rem;
      opacity: 0.4;
      font-weight: 300;
      transform: scale(0.8);
    }

    &::-moz-placeholder {
      opacity: 0.4;
      font-weight: 300;
      transform: scale(0.8);
    }

    &::-ms-input-placeholder {
      opacity: 0.4;
      font-weight: 300;
      transform: scale(0.8);
    }

    &::-moz-placeholder {
      opacity: 0.4;
      font-weight: 300;
      transform: scale(0.8);
    }
  }
  .form-control:first-child {
    margin: 0 5px 0 0 !important;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.w71 {
  width: 71px;
}

.justify-center {
  justify-content: center !important;
}

.mt10 {
  margin-top: 10px;
}
.mat-icon-button {
  font-size: 20px;
  color: var(--primary);
}

.border-warn {
  border: 1px solid var(--bs-danger) !important;
}
.icon {
  font-size: 20px;
  color: var(--bs-primary);
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
