<div class="form-group">
    <ng-container *ngIf="label !== ''">
        <div class="d-flex align-items-center">
            <label for="">{{label}} <ng-container *ngIf="required"><span class="text-danger">*</span></ng-container>
            </label>
            <div class="ms-auto d-flex align-items-center">
                <div class="mandatory-text" *ngIf="control?.control?.invalid && errorTrueNow">
                    {{control?.control?.errors | appFormError: errorText}}
                </div>
            </div>
        </div>
    </ng-container>
    <div class="input-group with-date" [ngClass]="{'disabled': btnClickedNow}">
        <input type="text" class="form-control" [(ngModel)]="xvalue" name="{{name}}" placeholder="{{placeholder}}"
            readonly [matDatepicker]="picker" (click)="picker.open()" [autofocus]="autofocus"
            (dateChange)="dateSelected()" [disabled]="btnClickedNow"
            [ngClass]="{'border-danger': control?.control?.invalid && errorTrueNow}" (blur)="doBlur()"
            (focus)="doFocus()" (keydown)="checkEnter($event)" #forminput [min]="minDateNow" [max]="maxDateNow"
            [id]="name" />
        <div class="input-group-append">
            <div class="date-btn" matRipple="!btnClickedNow" (click)="picker.open()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <rect fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" x="48" y="80"
                        width="416" height="384" rx="48" />
                    <circle cx="296" cy="232" r="24" />
                    <circle cx="376" cy="232" r="24" />
                    <circle cx="296" cy="312" r="24" />
                    <circle cx="376" cy="312" r="24" />
                    <circle cx="136" cy="312" r="24" />
                    <circle cx="216" cy="312" r="24" />
                    <circle cx="136" cy="392" r="24" />
                    <circle cx="216" cy="392" r="24" />
                    <circle cx="296" cy="392" r="24" />
                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"
                        stroke-linecap="round" d="M128 48v32M384 48v32" />
                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M464 160H48" />
                </svg>
            </div>
            <div class="ibtn" matRipple (click)="onLocalClear()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="32" d="M368 368L144 144M368 144L144 368" />
                </svg>
            </div>
        </div>
    </div>
</div>
<mat-datepicker #picker [disabled]="btnClickedNow">
</mat-datepicker>