//empty state

.empty-state {
  opacity: 0.9;

  .mw250 {
    max-width: 250px;
  }

  img {
    width: 100px;
  }

  ion-icon {
    font-size: 130px;
    color: var(--bs-primary);
  }

  p {
    margin: 0;
    font-size: 14px;
    padding: 1rem 0 0.5rem;
    color: #333;
    font-weight: 500;
  }

  .sub-title {
    line-height: 1.75;
    font-size: 13px;
    opacity: 0.75;
  }

  .icon-box {
    height: 130px;
  }
}
