<div class="message-cover">
    <app-message-header></app-message-header>
    <div class="msg-portal-box bg-white">
        <div class="message-body" [ngClass]="{'closing' : messageBoxService.closing}">
            <div class="message-box">
                <ul class="error-message" *ngIf="messageBoxService.errorMessage">
                    <li class="d-flex align-items-center"
                        *ngFor="let errMsg of data.message.errorMessage | messageFilter : 0">
                        <ion-icon src="assets/svg/triangle.svg" class="mr-2 error_msg"></ion-icon>
                        <div class="error_msg">{{errMsg.msgDescription}}</div>
                    </li>
                </ul>
                <ul class="warning-message" *ngIf="messageBoxService.warningMessage">
                    <li class="d-flex align-items-center"
                        *ngFor="let errMsg of data.message.errorMessage | messageFilter : 1">
                        <!-- <ion-icon  ></ion-icon> -->
                        <ion-icon name="warning-outline" class="mr-2 text-warning"></ion-icon>
                        <div>{{errMsg.msgDescription}}</div>
                    </li>
                </ul>
                <ul class="info-message" *ngIf="messageBoxService.infoMessage">
                    <li class="d-flex align-items-center"
                        *ngFor="let errMsg of data.message.errorMessage | messageFilter : 2">
                        <!-- <ion-icon src="assets/svg/triangle.svg" class="mr-2"></ion-icon> -->
                        <ion-icon name="information-circle-outline" class="mr-2"></ion-icon>
                        <div>{{errMsg.msgDescription}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>