<ng-container *ngIf="type === ''">
    <button class="app-button" matRipple [id]="idName">
        <div class="d-flex align-items-center justify-content-center">
            <ng-container *ngIf="src === ''">
                <ion-icon [name]="icon"></ion-icon>
            </ng-container>
            <ng-container *ngIf="src !== ''">
                <ion-icon [src]="src"></ion-icon>
            </ng-container>
            <div class="ms-1">{{label}}</div>
        </div>
    </button>
</ng-container>
<ng-container *ngIf="type === 'submit'">
    <button class="app-button" matRipple [id]="idName" type="submit">
        <div class="d-flex align-items-center justify-content-center">
            <ng-container *ngIf="src === ''">
                <ion-icon [name]="icon"></ion-icon>
            </ng-container>
            <ng-container *ngIf="src !== ''">
                <ion-icon [src]="src"></ion-icon>
            </ng-container>
            <div class="ms-1">{{label}}</div>
        </div>
    </button>
</ng-container>
<ng-container *ngIf="type === 'link'">
    <div class="app-button d-flex align-items-center justify-content-center" matRipple [id]="idName">
        <div class="d-flex align-items-center justify-content-center">
            <ng-container *ngIf="src === ''">
                <ion-icon [name]="icon"></ion-icon>
            </ng-container>
            <ng-container *ngIf="src !== ''">
                <ion-icon [src]="src"></ion-icon>
            </ng-container>
            <div class="ms-1">{{label}}</div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="type === 'noicon'">
    <div class="app-button d-flex align-items-center justify-content-center" matRipple [id]="idName">
        <div class="d-flex align-items-center justify-content-center">
            <div class="ms-1">{{label}}</div>
        </div>
    </div>
</ng-container>