/* You can add global styles to this file, and also import other style files */


@import "scss/bootstrap/bootstrap.scss";
@import "scss/theme.scss";
@import "scss/table.scss";
@import "scss/button.scss";
@import "scss/search.scss";
@import "scss/form.scss";
@import "scss/tab.scss";
@import "scss/alert.scss";
@import "scss/header.scss";
@import "scss/message-box.scss";
@import "scss/app.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
