.table-responsive {
  position: relative;
  height: 100%;
  background-color: white;

  .mat-table {
    width: 100%;
  }

  thead th,
  thead td {
    position: sticky;
    white-space: nowrap;
    z-index: 2;
    top: 0;
    background-color: var(--bs-grid-header-bg);
  }
  tr.mat-header-row {
    background-color: var(--bs-grid-header-bg);
    color: white;
    height: 40px;
  }

  th.mat-header-cell {
    color: white;
    font-weight: 400;
    text-transform: capitalize !important;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--bs-grid-border);

    &:first-child {
      padding-left: 0.75rem;
      border-left: 0px solid transparent;
    }

    &:last-child {
      border-right: 0px solid transparent;
    }
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 36px;
    color: var(--bs-grid-text);
  }

  tr.mat-row {
    &:hover {
      background-color: var(--bs-grid-hover);

      .oval-link {
        background-color: var(--bs-secondary);
      }
    }
  }
}

.oval-link {
  text-decoration: none;
  background-color: var(--bs-secondary-light);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  min-width: 100px;
  border: 1px solid var(--bs-secondary);
  height: 30px;
  color: var(--bs-grid-text);
}

.link {
  text-decoration: none;
  color: inherit;
}
