// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$forex-primary: (50 : #e5edf6,
    100 : #bfd1e8,
    200 : #94b3d9,
    300 : #6995c9,
    400 : #487ebe,
    500 : #2867b2,
    600 : #245fab,
    700 : #1e54a2,
    800 : #184a99,
    900 : #0f398a,
    A100 : #bbcfff,
    A200 : #88abff,
    A400 : #5587ff,
    A700 : #3b75ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    ));

$forex-accent: (50 : #f3fbff,
    100 : #e2f5ff,
    200 : #cfefff,
    300 : #bce9ff,
    400 : #ade4ff,
    500 : #9fdfff,
    600 : #97dbff,
    700 : #8dd7ff,
    800 : #83d2ff,
    900 : #72caff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fafdff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

// The warn palette is optional (defaults to red).
$forex-prim: mat.define-palette($forex-primary);
$forex-acc: mat.define-palette($forex-accent);
$forex-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$forex-theme: mat.define-light-theme((color: (primary: $forex-prim,
            accent: $forex-acc,
            warn: $forex-warn,
        )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($forex-theme);
// @include mat.all-component-themes($forex-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --bs-primary: #2867b2;
    --bs-primary-rgb: 40, 103, 178;
    --bs-secondary: #9fdfff;
    --bs-secondary-light: #e9f6ff;
    --bs-bg-background: #e6e6e6;
    --bs-grid-header-bg: #808080;
    --bs-grid-border: #b3b3b3;
    --bs-grid-hover: #f2f2f2;
    --bs-grid-text: #2d2d2d;
    // --bs-input-border: #2d2d2d;
    --bs-input-border: #808080;
    --bs-body-font-size: 0.875rem;
    --bs-label-color: #878787;
    --bs-font-barlow: 'Barlow', sans-serif;
}